DB_HOST=pdv.mysql.database.azure.com
DB_DATABASE=paoecafe8301
DB_USERNAME=pdv
DB_PASSWORD=configure-aqui

# Opcional. Se quiser forcar uma base especifica no app Expo:
# EXPO_PUBLIC_API_BASE_URL=http://localhost/apec-roberto/endpoints
