node_modules/
.expo/
dist/
web-build/
deploy/
azure-package.zip

android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/.kotlin/

*.apk
*.aab
*.ap_
android/**/*.apk
android/**/*.aab
android/**/*.ap_
*.keystore
*.jks
*.PublishSettings

.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
